/* Image Assets */

/* Top Slider Images */

#top-slide-1-bg{
    background-image: url(../images/EM_4610-Edit_LatteArt_2-1920x1280.jpg);
}

#top-slide-2-bg{
    /* background-image: url(../images/jhornig-kaffeebar-interieur.jpg); */
    background-color: #FF2D00;
}

#top-slide-3-bg{
    background-image: url(../images/jhornig-kaffeebar-interieur.jpg);
    filter: brightness(0.7);
}



/* Image Section 1 */ 

#image-section-1-left {
    background-image: url(../images/Cold-Brew-Dose-Drink.jpg);

}

#image-section-1-center {
    background-image: url(../images/HOR_gastro.jpg);
}

#image-section-1-right {
    background-image: url(../images/JHornig-Kaffee-fuers-Buero.jpg);
}




/* Product Section 1 */

#product-section-1-1 {
    background-image: url(../images/JHornig-Spezial-Ganze-Bohne.jpg);
}

#product-section-1-2 {
    background-image: url(../images/JHornig-Caffe-Crema-Classico.jpg);

}

#product-section-1-3 {
    background-image: url(../images/JHornig-Caffe-Crema-Intenso.jpg);

}

#product-section-1-4 {
    background-image: url(../images/JHornig-Entcoff-Ganze-Bohne.jpg);
}





/* Image Section 2 */

#image-section-2-left-top {
    background-image: url(../images/JHornig-Kaffeebar-1070-Wien.jpg);
}

#image-section-2-left-bottom-left {
    background-image: url(../images/Wie-wir-bei-JHornig-roesten.jpg);
}

#image-section-2-left-bottom-right {
    background-image: url(../images/JHornig-Kaffeemobil.jpg);
}

#image-section-2-right-left {
    background-image: url(../images/JHornig-Barista-Kurse.jpg);
}

#image-section-2-right-right-top {
    background-image: url(../images/JHornig-Direct-Trade.jpg);
}

#image-section-2-right-right-bottom {
    background-image: url(../images/JHornig-Kaffee-richtig-zubereiten.jpg);
}




/* Product Section 2 */

#product-section-2-1 {
  background-image: url(../images/JHornig-Bio-Fruechte-Tee.jpeg); 

}

#product-section-2-2 {
    background-image: url(../images/JHornig-Bio-Wilde-Fruechte-Tee.jpeg);

}

#product-section-2-3 {
    background-image: url(../images/JHornig-Bio-Pfefferminze-Tee.jpeg);

}

#product-section-2-4 {
    background-image: url(../images/JHornig-Bio-Orange-Tee.jpeg);
}
