
/* This file contains generic slider helpers and styles */ 
/* TODO: Clean this up */


.slider{
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.slider-container{
    height: 100%;
}

.slider-content{
    height: 100%;
    position: absolute;   
    left: 0;
}


.bg-slider-overlay{
    position: absolute;
    z-index: 5;
    width: 100%;
    padding-top: 150px;
}

.bg-slider-filter{
    width: 100%;
}

.slider-overlay-promo-helper {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 400px;
    margin-left: -200px;

}

.slider-overlay-price-display {
    width: 100px;
    border: 2px dotted white;
    border-radius: 100px;
    height: 100px;
    position: absolute;
    z-index: 10;
    right: 40px;
    top: 40px;
    background: red;
}

.slider-overlay-price-display p{
    color: #ffffff;
    font-size: 50px;
    margin-top: 19px;
    margin-bottom: 0px;
}

.slider-overlay-promo-helper img {
    width: 300px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.slider-overlay-left-helper{
    margin-left: 120px;

    width: 400px;
    float: left;
    text-align: center;
}

.slider-overlay-right-helper{
    margin-right: 120px;
    width: 400px;
    float: right;
    text-align: center;
}

.slider-overlay-left-helper .row, .slider-overlay-right-helper .row{
    margin-top: 20px;
    font-size: 0;
}

.slider-overlay-header{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.slider-overlay-text {
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.slider-overlay-button {
    height: 50px;
    width: 90%;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.slider-overlay-button.button-fill{
    background-color: #fafafa;
    color: #777777;
}

.slider-overlay-button.button-fill:hover{
    background-color: #777777;
    color: #fafafa;
}

.slider-overlay-button.button-clear{
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.slider-overlay-button.button-clear:hover{
    background-color: #fafafa;
    color: #777777;
}



/* Background image cover styles */ 

.bg-slider-cover {
    height: 100%;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    position: relative;
}


/* Slider button Styles */ 



.slider-button-style-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 10;
    top: 50%;
    border-radius: 100px;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


/* TODO: Animate this */
.slider-button-style-1:hover {
    color: #ffffff;
    background-color: #552d00;      /* Wrong color */
}

.slider-button-right {
    right: 2%;
}

.slider-button-left {
    left: 2%;
}
