#top-slider {
    height: 500px;
    width: 100%;
}

#blog-slider {
    height: 300px;
    width: 85%;
}

.slider{
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    overflow: hidden;

}

.slider-container{
    height: 100%;
}

.slider-content{
    font-size: 50px;
    height: 100%;
    position: absolute;   
    left: 0;
}




