
body {
    margin: 0px;
}


#top-bar{
    background-color: #372f2c;
    width: 100%;
}

#top-bar-list {
    list-style: none;
    display: block;
    width: 95%;
    position: relative;
    margin: 0 auto;
}

#top-bar-list > li {
    min-width: 80px;
    display: inline-block;
    color: #b3b0af;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}





#nav-bar{
    background-color: #ffffff;
    width: 100%;
    z-index: 1;
}

#nav-bar ul {
    list-style: none;
    display: inline-block;
    width: 95%;
    position: relative;
    margin: 0 auto;
}

/* Styles specifically the list elements for the nav bar itself */
#nav-bar #nav-bar-list>li {
    text-transform: uppercase;
    float: left;
    min-width: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 900;
}

#nav-bar #nav-bar-list>li>a{
    text-decoration: none;
    color: #000000;
}

#nav-bar #nav-bar-list>li>a span.carat{
    margin-left: 3px;
    color: #b3b0af;
}

#nav-bar #nav-bar-list>li>a:hover{
    text-decoration: underline;
    
}

/* Floats the special list items to the right */ 
#nav-bar #nav-bar-list>li.item-float-right {
    float: right;
    margin-right: 50px;
}


#nav-bar li.item-logo {
    width: 15%;
    z-index: 1;
}

#nav-bar li.item-logo img{
    height: 56px;
    position: absolute;
    top: 20%;
    left: 3%;
    z-index: 2;
}


#image-carousel-section {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    background: grey;
}


#image-section-1 {
    width: 100%;
    font-size: 0px;
    border: 1px solid black;
}

#product-section-1{
    height: 600px;
    width: 100%;
    font-size: 0px;
}

#image-section-2 {
    height: 600px;
    width: 100%;
    font-size: 0px;
    overflow: hidden;

}

#product-section-2{
    height: 600px;
    width: 100%;
    font-size: 0px;
}

#newsletter-section {
    height: 500px;
    width: 100%;
    background-image: url(../images/Diese-Kaffee-Fehler-wirken-sich-negativ-auf-den-Geschmack-aus-1920x1113.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: none;
    background-size: cover;
    position: relative;

}

#newsletter-section div#newsletter-section-info-indent{
    position: relative;
    display: block;
    width: 466px;
    padding-left: 155px;
    padding-top: 55px;
}

#newsletter-section div#newsletter-section-info-indent div{
  margin-bottom: 20px;
}


#newsletter-award-icon-container {
    position: absolute;
    display: block;
    right: 30%;
    height: 180px;
    width: 180px;
    right: 30%;
    top: 50px;
}

#newsletter-award-icon-image{
    width: 180px;
}


#newsletter-modal-link {
    color: #b3b0af;
    font-size: 14px;
    text-decoration-line: none;
}

.newsletter-title {
    text-align: left;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 38px;
}

.newsletter-text{
    text-align: left;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 16px;
}

#newsletter-email-input{
    width: 100%;
    font-size: 14px;
    height: 30px;
}

#newsletter-checkbox-text span{
    color: #ffffff;
    font-size: 16px;
}

#newsletter-section button{
    background-color: #552d00;
    text-transform: uppercase;
    height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    display: block;
    position: relative;
    border-width: 0px;
}

/* General Classes */ 

.row {
    width: 100%;
    position: relative;
}





.row-ca {
    border: 1px solid black;
    width: 1700px;
    position: absolute;
    height: 300px;
    font-size: 0;
    transition:2s;
   -webkit-transition:2s;
    -moz-transition:2s;
    left:-12%;
}

.row-ca {
  left:calc(-24% - 33%);
}



#left-mask-ca{
    border: 1px solid black;

    position: absolute;
    display: relative;
    left: 0;
    background-color: #ffffff;

    height: 300px;
    width: 25%;
    z-index: 100;
}

#right-mask-ca{
    border: 1px solid black;

    position: absolute;
    display: relative;
    left: 75%;
    background-color: #ffffff;

    height: 300px;
    width: 25%;
    z-index: 100;
}

.scroll-ca-image-container {
    height: 300px;
    z-index: 1;
}

#image-hidden-left {
    background-color: aqua;
}

#image-hidden-right {
    background-color: aquamarine;
}

#image-center {
    background-color: chartreuse;
}

.image-ca {
    height: 200px;
    background-image: url(../images/JHornig-Caffe-Crema-Classico.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

}




.col-6 {
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.col-3 {
    width: 25%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.col-4 {
    width: 33.33%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}




/* General Image Classes */

.image-section-container{
    font-size: 12px;
}

#image-section-1 .image-section-container {
    padding-top: 15px;
    margin-left:7px;
    margin-right:7px;
}

#image-section-2 .image-section-container {
    margin-left:2px;
    margin-right:2px;
    margin-top: 5px;
}

.background-image-centered{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.background-image-contained{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.background-image-large{
    height: 600px;
}

.background-image-medium{
    height:300px;
}

.background-image-small{
    height:270px;
}


.background-image-text-overlay{
    position: absolute;
    top: 40%;
    width: 100%;
}

.background-image-text-overlay-special{
    position: absolute;
    bottom: 25%;
    width: 100%;
}

.background-image-text-center-group{
    display: block;
    text-align: center;
    position: relative;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.background-image-text-center-group a{
    text-decoration: none;
}

.background-image-text-center-group span.small-comment{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 14px;
}

.background-image-text-center-group span.big-comment{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 24px;

}

/* General Product styles */ 

.product-title-text{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.product-section-info-container{
    font-size: 12px;
    text-align: center;

}

/* Control the product section default p margin */
.product-section-info-container p{
    margin: 2px;
}


.product-info-type{
    color: #777777;
    text-transform: uppercase;
    font-size: 14px;
}


.product-info-title a{
    color: #552d00;
    font-size: 14px;
    text-decoration-line: none;
}


/* TODO: Figure this out */
.product-info-stars{
    /* ??? */
}

.product-info-price{
    font-weight: 900;
}

.product-info-taxNote{
    color: #777777;
}

.product-info-perKG{
    color: #777777;
    font-size: 11px;
}

.product-info-perKG b{
    color: #000000;
}

.product-info-shipping{
    color: #777777;
    font-size: 14px;
}

.product-info-shipping a{
    color: #552d00;
    font-size: 14px;
    text-decoration-line: none;
}



/* Image Assets */


/* Image Section 1 */ 

#image-section-1-left {
    background-image: url(../images/Cold-Brew-Dose-Drink.jpg);
}

#image-section-1-center {
    background-image: url(../images/HOR_gastro.jpg);
}

#image-section-1-right {
    background-image: url(../images/JHornig-Kaffee-fuers-Buero.jpg);
}




/* Product Section 1 */

#product-section-1-1 {
    background-image: url(../images/JHornig-Spezial-Ganze-Bohne.jpg);
}

#product-section-1-2 {
    background-image: url(../images/JHornig-Caffe-Crema-Classico.jpg);

}

#product-section-1-3 {
    background-image: url(../images/JHornig-Caffe-Crema-Intenso.jpg);

}

#product-section-1-4 {
    background-image: url(../images/JHornig-Entcoff-Ganze-Bohne.jpg);
}





/* Image Section 2 */

#image-section-2-left-top {
    background-image: url(../images/JHornig-Kaffeebar-1070-Wien.jpg);
}

#image-section-2-left-bottom-left {
    background-image: url(../images/Wie-wir-bei-JHornig-roesten.jpg);
}

#image-section-2-left-bottom-right {
    background-image: url(../images/JHornig-Kaffeemobil.jpg);
}

#image-section-2-right-left {
    background-image: url(../images/JHornig-Barista-Kurse.jpg);
}

#image-section-2-right-right-top {
    background-image: url(../images/JHornig-Direct-Trade.jpg);
}

#image-section-2-right-right-bottom {
    background-image: url(../images/JHornig-Kaffee-richtig-zubereiten.jpg);
}




/* Product Section 2 */

#product-section-2-1 {
  background-image: url(../images/JHornig-Bio-Fruechte-Tee.jpeg); 

}

#product-section-2-2 {
    background-image: url(../images/JHornig-Bio-Wilde-Fruechte-Tee.jpeg);

}

#product-section-2-3 {
    background-image: url(../images/JHornig-Bio-Pfefferminze-Tee.jpeg);

}

#product-section-2-4 {
    background-image: url(../images/JHornig-Bio-Orange-Tee.jpeg);
}


